<% include _layouts/header %>
    <div class="row">
        <div class="col-12">
            <h3>
                <%= productInfo.title %>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <b>Категорія</b>
                    </div>
                    <span>
                    <%= productInfo.category %>
                </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <b>Залишок</b>
                    </div>
                    <span>
                    <%= productInfo.quantity.toFixed(2) %>
                </span>
                </li>
            </ul>
        </div>

        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <b>Вартість</b>
                    </div>
                    <span>
                            <%= productInfo.price.toFixed(2) %>&nbsp;₴
                        </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <b>Собівартість</b>
                    </div>
                    <span>
                        <%- (productInfo.cost) ? `${productInfo.cost.toFixed(2)} &nbsp;₴` : `Собівартість не вказана` %>
                </span>
                </li>


            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="product-control-buttons">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/storage/replenish?id=<%=productInfo._id%>" class="btn btn-success" role="button">Поповнити</a>
                    <a href="/storage/write-off?id=<%=productInfo._id%>" class="btn btn-warning" role="button">Списати</a>
                    <a href="/storage/edit?id=<%=productInfo._id%>" class="btn btn-primary" role="button">Редагувати</a>
                    <a href="/storage/out-of-product?id=<%=productInfo._id%>" class="btn btn-danger confirmEnd" role="button">Закінчився</a>
                    <a href="/storage/del_product_from_db?id=<%=productInfo._id%>" class="btn btn-dark confirmDeletion" role="button">Видалити</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>
                Операції
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <% if(!transactions.length) { %>
                <h6> Для даного товару відсутні збережені операції</h6>
                <% } %>
                    <ul class="trn-list">
                        <% transactions.forEach(transaction => { %>
                            <% if(transaction.type == "replenishment") { %>
                                <li class="trn-item trn-item-top">
                                    <div class="trn-item-price">
                                        <div class="chevron-container">
                                            <img src="/images/svg/chevron-top.svg" class="trn-icon-img">
                                        </div>
                                        <span> <%= transaction.quantity.toFixed(2) %> (<%= transaction.previousQuantity.toFixed(2) %>
                        )</span>
                                    </div>
                                    <div class="divider"></div>
                                    <span>
                    <%= transaction.cost ? `${transaction.cost.toFixed(2)} ₴` : "Вартість не вказана" %>
                </span>
                                    <div class="divider"></div>
                                    <span> <%= transaction.provider ? transaction.provider : "Постачальник не вказаний" %> </span>
                                    <div class="divider"></div>
                                    <span> <%= moment(transaction.date).format('DD.MM.YY HH:mm') %> </span>

                                </li>
                                <% } else if(transaction.type == "write-off") { %>
                                    <li class="trn-item trn-item-down">
                                        <div class="trn-item-price">
                                            <div class="chevron-container">
                                                <img src="/images/svg/chevron-bottom.svg" class="trn-icon-img">
                                            </div>
                                            <span> <%= transaction.quantity.toFixed(2) %> (<%= transaction.previousQuantity.toFixed(2) %>
                        )</span>
                                        </div>
                                        <div class="divider"></div>
                                        <span><%= `${(0 - productInfo.price * transaction.quantity).toFixed(2)} ₴` %></span>
                                        <div class="divider"></div>
                                        <span><%= transaction.reason %> </span>
                                        <div class="divider"></div>
                                        <span><%= moment(transaction.date).format('DD.MM.YY HH:mm') %> </span>

                                    </li>
                                    <% } else if(transaction.type == "sale") { %>
                                        <li class="trn-item trn-item-sale">
                                            <div class="trn-item-price">
                                                <div class="chevron-container">
                                                    <img src="/images/svg/chevron-bottom.svg" class="trn-icon-img">
                                                </div>
                                                <span> <%= transaction.quantity.toFixed(2) %> (<%= transaction.previousQuantity.toFixed(2) %>
                        )</span>
                                            </div>
                                            <a href="/sales/order?id=<%=transaction.orderId%>"><span><%= moment(transaction.date).format('DD.MM.YY HH:mm') %>
                    </span></a>
                                        </li>

                                        <% } else if(transaction.type == "out-of-product") { %>
                                            <li class="trn-item trn-item-out">
                                                <div class="trn-item-price">
                                                    <div class="chevron-container">
                                                        <img src="/images/svg/chevron-bottom.svg" class="trn-icon-img">
                                                    </div>
                                                    <span> <%= transaction.quantity.toFixed(2) %> (<%= transaction.previousQuantity.toFixed(2) %>
                        )</span>
                                                </div>
                                                <div class="divider"></div>
                                                <span>Товар закінчився</span>
                                                <div class="divider"></div>
                                                <% if(transaction.additional){%>
                                                    <span><%= `Поповнено: ${transaction.additional.replenishTotal.toFixed(2)}`%></span>
                                                    <div class="divider"></div>
                                                    <span>Продано: <%= transaction.additional.saleTotal.toFixed(2)%></span>
                                                    <div class="divider"></div>
                                                    <span>Списано: <%= transaction.additional.writeOffTotal.toFixed(2)%></span>
                                                    <div class="divider"></div>
                                                    <span>Загалом: <%= (transaction.additional.replenishTotal - transaction.additional.saleTotal - transaction.additional.writeOffTotal).toFixed(2)%></span>
                                                    <div class="divider"></div>
                                                    <%}%>
                                                        <span><%= moment(transaction.date).format('DD.MM.YY HH:mm') %>
                    </span>
                                            </li>
                                            <% } %>
                                                <% }); %>
                    </ul>
                    <% if(transactions.length) { %>

                        <hr>
                        <nav>

                            <ul class="pagination">
                                <% const pathPart = `/storage/product?id=${productInfo._id}`%>
                                    <% if(pagination.currPage == 1) {%>
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Попередня</a>
                                        </li>
                                        <% } else { %>
                                            <li class="page-item">
                                                <a class="page-link" href="<%=`${pathPart}&page=${pagination.currPage - 1}`%>" tabindex="-1">Попередня</a>
                                            </li>
                                            <% } %>
                                                <% for(let i = 1; i <= pagination.pagesCount; i++) { %>
                                                    <% if(pagination.currPage == i) {%>
                                                        <li class="page-item active">
                                                            <a class="page-link" href="#">
                                                                <%=i%>
                                                            </a>
                                                        </li>
                                                        <% } else { %>
                                                            <li class="page-item">
                                                                <a class="page-link" href="<%=`${pathPart}&page=${i}`%>">
                                                                    <%=i%>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <% } %>

                                                                    <% if(pagination.currPage == pagination.pagesCount) {%>
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#" tabindex="-1">Наступна</a>
                                                                        </li>
                                                                        <% } else { %>
                                                                            <li class="page-item">
                                                                                <a class="page-link" href="<%=`${pathPart}&page=${pagination.currPage + 1}`%>">Наступна</a>
                                                                            </li>
                                                                            <% } %>
                            </ul>
                        </nav>
                        <% } %>
        </div>
    </div>

    <% include _layouts/footer %>