<% include _layouts/header %>
<div class="row">
    <h3>Потижнева виручка</h3>
</div>
<div class="row">
    <div class="col-12">
        <div id="plotStat" style="width: 100%; height: 500px;">

        </div>
    </div>
</div>
<div class="row">
    <h3>Денні звіти</h3>
</div>
<div class="row">
    <!-- Tab panes -->
    <div class="col-12">
        <table class="table table-hover table-borderless table-striped" id="days-table">
            <thead>
                <tr style="font-size: 0.7em;">
                    <th>Дата</th>
                    <th>Загальна сума </th>
                    <th>Кількість чеків</th>
                    <th>Середній чек</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="products_table">
                <% dbs.forEach(function(db){ %>
                <tr class="content">
                    <td scope="row"><%= db.headerStr %></td>
                    <td>
                        <%= db.totalSum.toFixed(2) %>
                    </td>
                    <td><%= db.orders.length %></td>
                    <td><%= (db.totalSum / db.orders.length).toFixed(2)%></td>
                    <td>
                        <a href="/sales/day?id=<%=db.id%>" class="btn btn-outline-primary btn-sm">
                            Чеки
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/plotly.min.js"></script>
<script>
    
let x = <%- JSON.stringify(plotTrace.y) %>;
let y = <%- JSON.stringify(plotTrace.x) %>;
Plotly.plot('plotStat', [{
   y: y,
   x: x,
   type: 'bar'
}]);
</script>
<% include _layouts/footer %>