<% include _layouts/header %>
<div class="row">
    <h3>Денні звіти</h3>
</div>
<div class="row">
    <!-- Tab panes -->
    <div class="col-12">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" id="search">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1">Пошук</span>
                </div>
            </div>
        </div>
        <table class="table table-hover table-borderless table-striped">
            <thead>
                <tr style="font-size: 0.7em;">
                    <th>Дата</th>
                    <th>Загальна сума </th>
                    <th>Кількість чеків</th>
                    <th>Середній чек</th>
                </tr>
            </thead>
            <tbody id="products_table">
                <% dbs.forEach(function(db){ %>
                <tr class="content">
                    <td scope="row"><%= db.headerStr %></td>
                    <td><h6><%= db.totalSum %></h6></td>
                    <td><%= db.orders.length %></td>
                    <td><%= (db.totalSum / db.orders.length).toFixed(2)%></td>
                    <td>
                        <a href="/day?id=<%=db.id%>">
                            <button type="button" class="btn btn-outline-primary btn-sm"">
                                Переглянути чеки
                            </button>
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<% include _layouts/footer %>